
.app {
  margin-right: auto;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  display: inline;
}  

input[type='radio'] {
  display: none;
}

#star {
  cursor: pointer;
  transition: color 200ms;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* .form {
  border: 1px solid #0d0d0d;
  padding: 1rem;
  width: 20rem;
} */

input,textarea, button {
  display: block;
  margin: auto;
  padding: 0.5rem 0.5rem;
}

input, textarea {
  width: calc(100% - 1rem);
}

button {
  border: 1px solid black;
  cursor: pointer;
}

h1 {
  text-align: center;
  padding-top: 2rem;
}



/* 
star colors
yellow: #ffc107
gray: #e4e5e9 */